
  <app-header></app-header>
  <!-- <app-home></app-home> -->
  <div class="ui-g">
    <card-home title="teste" class="ui-g table" >
        <card-coll class="ui-g-4 subtitle">subtítulo 1</card-coll>
        <card-coll class="ui-g-4 subtitle">subtítulo2</card-coll>
        <card-coll class="ui-g-4 subtitle">subtítulo3</card-coll>
        <card-coll class="ui-g-4 red-highlighter">0</card-coll>
        <card-coll class="ui-g-4 red-highlighter">0</card-coll>
        <card-coll class="ui-g-4 red-highlighter">0</card-coll>
    </card-home>
  </div>
