<div class="container">
  <div class="ui-g-12">
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
        <div class="ui-g-12 table-title">titulo</div>
        <div class="ui-g-12 table-subtitles">
          <div class="ui-g-6">subtitulo1</div>
          <div class="ui-g-6">subtitulo2</div>
        </div>
        <div class="ui-g-12 table-response">
          <div class="ui-g-6">1</div>
          <div class="ui-g-6 red-highlighter">0</div>
        </div>
      </div>
      <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
        <div class="ui-g-12 table-title">titulo</div>
        <div class="ui-g-12 table-subtitles">
          <div class="ui-g-6">subtitulo1</div>
          <div class="ui-g-6">subtitulo2</div>
        </div>
        <div class="ui-g-12 table-response">
          <div class="ui-g-6">1</div>
          <div class="ui-g-6 red-highlighter">0</div>
        </div>
      </div>
      <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
        <div class="ui-g-12 table-title">titulo</div>
        <div class="table-body">
          <div class="ui-g-12 table-subtitles">
            <div class="ui-g-4">subtitulo1</div>
            <div class="ui-g-4">subtitulo2</div>
            <div class="ui-g-4">subtitulo2</div>
          </div>
          <div class="ui-g-12 table-response">
            <div class="ui-g-4">1</div>
            <div class="ui-g-4 red-highlighter">0</div>
            <div class="ui-g-4">0</div>
          </div>
        </div>
      </div>
      <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
        <div class="ui-g-12 table-title">titulo</div>
        <div class="table-body">
          <div class="ui-g-12 table-subtitles">
            <div class="ui-g-4">subtitulo1</div>
            <div class="ui-g-4">subtitulo2</div>
            <div class="ui-g-4">subtitulo2</div>
          </div>
          <div class="ui-g-12 table-response">
            <div class="ui-g-4">1</div>
            <div class="ui-g-4 red-highlighter">0</div>
            <div class="ui-g-4">0</div>
          </div>
        </div>
      </div>
      <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-12 ui-lg-8">
      <!--inicio da table -->
      <div class="ui-g table">
        <div class="ui-g-12 table-title">titulo</div>
        <div class="table-body table-personalizada">
          <div class="ui-g-12 table-subtitles">
            <div class="ui-g-2">subtitulo1</div>
            <div class="ui-g-2">subtitulo2</div>
            <div class="ui-g-2">subtitulo3</div>
            <div class="ui-g-2">subtitulo4</div>
            <div class="ui-g-2">subtitulo5</div>
          </div>
          <div class="ui-g-12 table-response">
            <div class="ui-g-2 red-highlighter">0</div>
            <div class="ui-g-2 red-highlighter">0</div>
            <div class="ui-g-2 red-highlighter">0</div>
            <div class="ui-g-2 red-highlighter">0</div>
            <div class="ui-g-2 red-highlighter">0</div>
          </div>
        </div>
      </div>
      <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
          <div class="ui-g-12 table-title">titulo</div>
          <div class="ui-g-12 table-subtitles">
            <div class="ui-g-6">subtitulo1</div>
            <div class="ui-g-6">subtitulo2</div>
          </div>
          <div class="ui-g-12 table-response">
            <div class="ui-g-6">1</div>
            <div class="ui-g-6 red-highlighter">0</div>
          </div>
        </div>
        <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
        <div class="ui-g-12 table-title">titulo</div>
        <div class="ui-g-12 table-subtitles">
          <div class="ui-g-6">subtitulo1</div>
          <div class="ui-g-6">subtitulo2</div>
        </div>
        <div class="ui-g-12 table-response">
          <div class="ui-g-6">1</div>
          <div class="ui-g-6 red-highlighter">0</div>
        </div>
      </div>
      <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
        <div class="ui-g-12 table-title">titulo</div>
        <div class="ui-g-12 table-subtitles">
          <div class="ui-g-6">subtitulo1</div>
          <div class="ui-g-6">subtitulo2</div>
        </div>
        <div class="ui-g-12 table-response">
          <div class="ui-g-6">1</div>
          <div class="ui-g-6 red-highlighter">0</div>
        </div>
      </div>
      <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
        <div class="ui-g-12 table-title">titulo</div>
        <div class="ui-g-12 table-subtitles">
          <div class="ui-g-12">subtitulo1</div>
        </div>
        <div class="ui-g-12 table-response">
          <div class="ui-g-12">1</div>
        </div>
      </div>
      <!-- fim table -->
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-4">
      <!--inicio da table -->
      <div class="ui-g table">
          <div class="ui-g-12 table-title">titulo</div>
          <div class="ui-g-12 table-subtitles">
            <div class="ui-g-12">subtitulo1</div>
          </div>
          <div class="ui-g-12 table-response">
            <div class="ui-g-12">1</div>
          </div>
        </div>
        <!-- fim table -->
      </div>
  </div>
</div>